/* global style  */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}

/* header section style */
.hero {
	width: 100%;
	background-image: linear-gradient(to right, #C8D5DC, #fff);
	padding: 6rem 0;
	text-align: center;
}

.banner-titile {
	color: #1F1E33;
	font-size: 56px;
	font-weight: 800;
	text-transform: none;
	line-height: 62px;
	margin: 1.5rem 0;
}

/* footer section style */
.footer-section{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 2rem;
	max-width: 975px;
	margin: 2rem auto;
}
.brand-icons{
	display: flex;
}
.company-address p{
	margin-top:15px;
}
.brand-icons i{
	font-size: 20px;
	margin:20px 5px;
	color: gray;
	cursor: pointer;
}

.brand-icons i:hover{
	color: #a5bae6;
}

.footer-section h3{
	color: #467FF7;
}
.footer-section ul{
	list-style: none;
}
.footer-section ul li{
	margin-top:1rem ;
}
.footer-section ul li a{
	text-decoration: none;
	font-weight: 600;
	color:#324A6D;
}
.footer-section ul li a:hover{
	color: #a5bae6;
}